{
  "arrowParens": "avoid",
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.yml",
      "options": {
        "singleQuote": false
      }
    }
  ],
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": [
    "clsx",
    "cn",
    "twMerge",
    "cva"
  ]
}
