---
import Layout from '../layouts/Layout.astro'
import Container from '../components/Container'
---

<Layout title="Nicht gefunden">
  <Container>
    <h1>Nicht gefunden</h1>
    <p>Du bist auf einen Link gestoßen, dessen Seite nicht (mehr) existiert.</p>
  </Container>
</Layout>
