---
import { marked } from 'marked'
import { Icon } from 'astro-icon/components'

import Layout from '../layouts/Layout.astro'
import Container from '../components/Container.astro'
import Button from '../components/Button.astro'

const experiences = [
  {
    title: 'Co-Founder, EstateSync',
    time: 'seit 2020',
    description: `
EstateSync ist eine API für das einfache Inserieren auf Immobilienportalen und das Empfangen von Kontaktanfragen. Dadurch vereinfachen wir Immobiliensoftware-Unternehmen den Markteinstieg deutlich. Das Unternehmen hinter EstateSync habe ich zusammen mit Richard Keil gegründet.

- Konzeption und Dokumentation der RESTful API
- Testbasierte Entwicklung (TDD) in TypeScript + NestJS, PHP, Go
- Dynamisch skalierenden Serverless-Architektur mit diversen Microservices
- Infrastructure as Code via Pulumi
`,
    link: 'https://estatesync.com',
  },
  {
    title: 'Fullstack Engineer, Plan3t',
    time: '2022 - 2023',
    description: `
Die Plan3t-App hilft dabei das individuelle Konsumverhalten möglichst klimafreundlich und nachhaltig zu gestalten. Meine Arbeit konzentrierte sich auf die Entwicklung des Produkts und der technischen Infrastruktur.

- Technische Architektur einzelner Features
- Mobile-App Entwicklung mit Flutter + Dart
- Anbindung an Backend-Services mit Go + Protobuf
`,
    link: 'https://plan3t.one',
  },
  {
    title: 'DevOps Engineer, Homevoice',
    time: '2019 - 2022',
    description: `
Homevoice ist die moderne Hausverwaltungssoftware mit der Prozesse im Arbeitsalltag digitalisiert und verschlankt werden. Neben der Cloud-Administration kümmerte ich mich u.a. um interne Dokumentation, Datenschutz und einige teamkulturelle Themen.

- Deployment diverser GCP-Services (u.a. App Engine, Pub/Sub, Cloud Tasks)
- Verwaltung automatisierter Pipelines via GitHub Actions (Continous integration)
- Mitentwicklung an Frontend (React + Next.js) und Backend (Java + Spring)
- IT-Administration für 18 Personen (SysOps)
`,
    link: 'https://homevoice.io',
  },
  {
    title: 'Fullstack Engineer, Exposify',
    time: '2016 - 2021',
    description: `
Exposify war eine benutzerfreundliche Maklersoftware für mittelständige Immobilienunternehmen. Ich bin Mitgründer des Startups hinter Exposify. Aus den gesammelten Erfahrungen ist später unser API-Service EstateSync entstanden.

- Web- und Frontend-Entwicklung mit Vue.js + Nuxt, React + Gatsby + Rebass, Markdown
- Backend-Entwicklung mit PHP + Laravel
- Deployment eines Kubernetes-Clusters für diverse Docker-Microservices
    `,
  },
  {
    title: 'Webdesigner, Freelance',
    time: '2013 - 2017',
    description: `
- Konzeption statischer und dynamischer Websites
- Programmierung mit diversen Webtechnologien: Jekyll, Pug, Wordpress, Grunt, Gulp, Sass, jQuery
- Nutzung verschiedener Grafik-Tools: Photoshop, Affinity Designer, Figma
`,
  },
]
---

<Layout title="Erfahrung">
  <Container className="-my-3">
    {
      experiences.map(experience => (
        <div class="py-3">
          <h2 class="mb-2 text-xl">{experience.title}</h2>
          <div class="mb-3">{experience.time}</div>
          <div
            class="prose text-pretty md:prose-lg"
            set:html={marked.parse(experience.description)}
          />
          {experience.link && (
            <Button
              href={experience.link}
              target="_blank"
              className="my-3"
              variant="bordered"
            >
              <div class="flex items-center">
                Produkt-Website
                <Icon
                  class="-mt-[1px] ml-1"
                  size={18}
                  name="heroicons:arrow-top-right-on-square-16-solid"
                />
              </div>
            </Button>
          )}
        </div>
      ))
    }
  </Container>
</Layout>
