---
import { Image } from 'astro:assets'

import Layout from '../layouts/Layout.astro'
import Container from '../components/Container.astro'
import Socials from '../components/Socials.astro'
import BorderCard from '../components/BorderCard.astro'

import niklas from '../images/niklas.jpg'

const allPosts = await Astro.glob('../pages/*.md')
---

<Layout title="Über mich">
  <Container className="mb-4">
    <div>
      <Image
        class="mb-3 block size-[90px] rounded-full"
        src={niklas}
        alt="Niklas"
      />
      <h1
        class="bg-darkgray shadow-darkgray mb-3 inline box-decoration-clone text-center text-lg font-bold leading-[1.8] text-white shadow-[0_0_0_4px] md:text-xl lg:text-2xl"
      >
        Hej, ich bin Niklas. Zurzeit arbeite ich hauptsächlich an EstateSync.
        Mich beschäftigt die Frage, wie wir in unseren Karrieren auf
        gesellschaftlichen Wandel hinwirken können. Außerdem hab ich Spaß an
        Video- und Musikproduktion.
      </h1>
    </div>
  </Container>
  <Container className="mb-4 lg:mb-5">
    <Socials />
  </Container>
  <Container className="mb-5 md:mb-6">
    {
      allPosts.map(post => (
        <a class="inline-block w-full sm:w-1/2 md:w-1/3" href={post.url}>
          <BorderCard class="p-3">
            <h2 class="mb-2 text-xl">{post.frontmatter.title}</h2>
            <span class="text-lightgray">{post.frontmatter.date}</span>
          </BorderCard>
        </a>
      ))
    }
  </Container>
</Layout>
