---
import Layout from '../layouts/Layout.astro'
import Container from '../components/Container.astro'
import VideoCard from '../components/VideoCard.astro'

import videos from '../content/videos/videos.yml'
---

<Layout title="Videoprojekte">
  <Container className="pb-4">
    <h2 class="mb-3 text-xl">Videoprojekte</h2>
    <p class="text-darkgray/80 mb-4 md:text-lg/relaxed">
      Beim Filmemachen kommen für mich mehrere Leidenschaften zusammen:
      Visuelles, Musik und die gemeinsame Arbeit mit kreativen Machern mit Spaß
      am Schaffensprozess. Eine nicht ganz vollständige Übersicht der Projekte,
      an denen ich mitgewirken durfte:
    </p>
    <div
      class="gird-cols-1 -m-2 grid auto-cols-fr gap-1 md:grid-cols-2 xl:-m-3"
    >
      {
        videos
          .filter(video => video.hide !== true)
          .map(video => (
            <div class="p-2 xl:p-3">
              <VideoCard {...video} />
            </div>
          ))
      }
    </div>
  </Container>
</Layout>
