---
import { cva } from '../utils/cva.config'

const buttonVariants = cva({
  base: 'inline-block whitespace-nowrap rounded-sm text-base font-bold leading-none ring-offset-white transition-colors hover:no-underline focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50',
  variants: {
    variant: {
      bordered:
        'border-darkgray/30 text-darkgray/80 hover:border-darkgray/60 border',
      colored: 'text-lightgray',
    },
    size: {
      large: 'px-3 py-3 min-[500px]:px-4 xl:px-4',
      default: 'px-3 py-3',
    },
    color: {
      unset: 'hover:text-darkgray',
      green: 'text-darkgreen bg-green/15',
      blue: 'text-darkblue bg-blue/15',
      orange: 'text-darkorange bg-orange/15',
    },
  },
  defaultVariants: {
    color: 'unset',
    size: 'default',
  },
})

const { className, variant, size, color, href, ...rest } = Astro.props
---

{
  href ? (
    <a
      class={buttonVariants({ variant, size, color, className })}
      href={href}
      {...rest}
    >
      <slot />
    </a>
  ) : (
    <button
      class={buttonVariants({ variant, size, color, className })}
      type="button"
      {...rest}
    >
      <slot />
    </button>
  )
}
