---
import lotus from '../images/lotus.svg'

import Container from './Container.astro'
import UnderlineLink from './UnderlineLink.astro'

const links = [
  { href: '/', text: 'Start' },
  { href: 'mailto:hej@niklasravnsborg.com', text: 'Mail' },
  { href: '/imprint/', text: 'Impressum' },
]
---

<footer class="my-5">
  <Container>
    <div class="mb-3 flex justify-center">
      <img
        src={lotus.src}
        class="mx-auto w-full max-w-14 opacity-30"
        alt="Lotus"
      />
    </div>
    <div class="mx-2 mb-4 flex flex-wrap justify-center text-lightgray">
      {
        links.map(link => (
          <UnderlineLink className="mx-2 lowercase" href={link.href}>
            {link.text}
          </UnderlineLink>
        ))
      }
    </div>
    <div class="mx-auto max-w-[32rem] text-center text-lightgray">
      Diese Website trackt Dich nicht und kommt ohne Cookies aus. Ich verwende
      ein datenschutzfreundliches Analysetool (Plausible), um anonyme
      Nutzungsdaten meiner Website zu erhalten.
    </div>
  </Container>
</footer>
