---
import { Icon } from 'astro-icon/components'

const socials = [
  {
    name: 'GitHub',
    href: 'https://github.com/niklasravnsborg/',
    color: '#24292e',
    icon: 'cib:github',
  },
  {
    name: 'LinkedIn',
    href: 'https://linkedin.com/in/niklasravnsborg/',
    color: '#0b66c2',
    icon: 'cib:linkedin-in',
  },
  {
    name: 'Twitter',
    href: 'https://twitter.com/niklasravnsborg/',
    color: '#1ea1f1',
    icon: 'cib:twitter',
  },
  {
    name: 'Instagram',
    href: 'https://instagram.com/niklasravnsborg/',
    color: '#c13584',
    icon: 'cib:instagram',
  },
]
---

<div class="m-[-8px] flex flex-wrap">
  {
    socials.map(social => (
      <a
        class="m-2 inline-flex items-center justify-center rounded-full p-1.5 text-white"
        title={social.name}
        href={social.href}
        target="_blank"
        style={{ backgroundColor: social.color }}
      >
        <Icon class="text-[.9em]" name={social.icon} />
      </a>
    ))
  }
</div>
